@font-face {
  font-family: "Montserrat";
  src:  url(../fonts/Montserrat-Light.woff2) format(woff2),
        url(../fonts/Montserrat-Light.woff) format(woff),
        url(../fonts/Montserrat-Light.ttf) format(truetype);
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Montserrat";
  src:  url(../fonts/Montserrat-Regular.woff2) format(woff2),
        url(../fonts/Montserrat-Regular.woff) format(woff),
        url(../fonts//Montserrat-Regular.ttf) format(truetype);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src:  url(../fonts/Montserrat-Medium.woff2) format(woff2),
        url(../fonts/Montserrat-Medium.woff) format(woff),
        url(../fonts/Montserrat-Medium.ttf) format(truetype);
  font-style: normal;
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src:  url(../fonts/Montserrat-SemiBold.woff2) format(woff2),
        url(../fonts/Montserrat-SemiBold.woff) format(woff),
        url(../fonts/Montserrat-SemiBold.ttf) format(truetype);
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "Montserrat";
  src:  url(../fonts/Montserrat-Bold.woff2) format(woff2),
        url(../fonts/Montserrat-Bold.woff) format(woff),
        url(../fonts/Montserrat-Bold.ttf) format(truetype);
  font-style: normal;
  font-weight: 700;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

html {
  font-family: "Montserrat", Arial, sans-serif;
  font-size: 62.5%;
  font-weight: 400;
  line-height: 1.2;
}

.container {
  max-width: 1470px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

/* Header
================================= */
.header {
  padding: 17px 0 27px 0;
  margin-bottom: 40px;
}

.header__panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  max-width: 600px;
  width: 100%;
}

.navbar__list {
  display: flex;
  justify-content: space-between;  
}

.navbar__link {
  font-size: 1.4rem;
  color: #333;
  transition: .3s all;
}

.navbar__link:hover {
  transform: scale(1.2);
}

.logo svg {
  width: 118px;
  height: 114px;
}

.info {
  align-self: end;
}

.info__text {
  margin-bottom: 13px;
  font-size: 2.4rem;
  text-align: right;
  color: #333;
}

.info__tel {
  font-size: 4rem;
  font-weight: 500;
  color: #333;
}

/* Main Slider
================================= */
.main-container {
  overflow: hidden;
  position: relative;
  margin-bottom: 80px;
}

.main-slider {
  display: flex;
  position: relative;
  transition: .4s ease-in-out;
}

.main-slider__img {
  flex-shrink: 0;
  position: relative;
  max-width: 1440px;
  width: 100%;
  user-select: none;
}

.main__img {
  margin: 0 auto;
  width: 100%;
  transition: .3s all;
}

.main__request {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 13%;
  left: 4%;
  padding-left: 1.3%;
  max-width: 40.3%;
  max-height: 79%;
  width: 100%;
  height: 100%;
  background-image: url(../images/slider/eclipse.png);
  background-repeat: no-repeat;
  background-position: right 0;
  background-size: 43.7% 59.5%;
  border-radius: 7%;
  background-color: #77ceff;
  transition: .2s all;
}

.request_active {
  visibility: visible;
  opacity: 1;
}

.main__date,
.main__text,
.main__title {
  color: #333;
}

.main__date {
  margin: 3% 0 9% 0;
  font-size: 3.6rem;
  font-weight: 500;
}

.main__text {
  margin-bottom: 9%;
  font-size: 2.4rem;
  font-weight: 500;
}

.main__title {
  font-size: 4rem;
  font-weight: 600;
}

.main__form {
  position: absolute;
  top: 19%;
  left: calc(50% - (78.8% / 2));
  max-width: 78.8%;
  width: 78.8%;
  max-height: 14.2%;
  height: 14.2%;
}

.main__input {
  display: block;
  width: 100%;
  height: 100%;
  margin-bottom: 6.8%;
  padding-left: 8%;
  border-radius: 5em;
  border: none;
  font-size: 2rem;
  color: #333;
}

.main__input:focus {
  outline: none;
}

.main__input::placeholder {
  font-size: 2rem;
  color: #D9D9D9;
}

.main__input:last-child {
  margin-bottom: 0;
}

.main__submit {
  position: absolute;
  left: 3%;
  bottom: 7%;
  width: 42.3%;
  max-height: 11.7%;
  height: 11.7%;
  padding-left: 3.5%;
  border-radius: 2em;
  border: none;
  font-size: 1.6rem;
  text-align: left;
  background-color: #fff;
  transition: .3s background-color, .3s color;
  cursor: pointer;
}

.main__submit::after {
  content: '';
  position: absolute;
  top: 41%;
  right: 16%;
  width: 17%;
  height: 20%;
  background: url(../images/slider/arrow.png); 
  background-repeat: no-repeat;
  background-position: right 0;
  background-size: 100% 100%;
  transition: .3s all;
}

.main__submit:hover {
  background-color: #924DEB;
  color: #fff; 
}

.main__submit:hover::after {
  right: 10%;
  background: url(../images/slider/arrow-2.png);
}

.main__answer {
  position: absolute;
  top: 30%;
  left: 0;
  width: 100%;
}

.answer__text {
  font-size: 3.6rem;
  font-weight: 500;
  text-align: center;
}

.answer__text:first-child {
  margin-bottom: 10%;
}

.main__pagination {
  position: absolute;
  bottom: -1.6%;
  left: 46.9%;
  width: 12.7%;
  height: 9%;
  user-select: none;
}

.btn_active {
  background-color: #fff;
}

.main__pagination span {
  display: inline-block;
  margin-right: 4%;
  width: 5.5%;
  height: 22.5%;
  border: 1px solid #fff;
  border-radius: 50%;
  color: #050505;
  cursor: pointer;
}

.main__pagination span:last-child {
  margin-right: 0%;
}

.main__price {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 11%;
  right: 23%;
  max-width: 12.7%;
  min-height: 36.5%;
  width: 100%;
  transform: rotate(17.3deg);
  border-radius: 50%;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #ff0000;
  box-shadow: 6px 2px 10px rgba(0, 0, 0, .5);
} 

.price_active {
  display: flex;
} 

.main__price-2 {
  display: none;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24%;
  right: 7.1%;
  max-width: 12.7%;
  min-height: 36.5%;
  width: 100%;
  transform: rotate(17.3deg);
  border-radius: 50%;
  font-weight: 400;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 6px 2px 10px rgba(0, 0, 0, .5);
}

.price_active {
  display: flex;
}

.main__price div:first-child {
  font-size: 2.8rem;
}

.main__price div:nth-child(2) {
  font-size: 4.8rem;
}

.main__price div:last-child {
  font-size: 2.4rem;
}

.main__price-2 div:first-child {
  font-size: 4.8rem;
  color: #FF5454;
}

.main__price-2 div:last-child {
  font-size: 2.8rem;
  color: #333;
}

/* Types of Creativity
================================= */
.creativity {
  margin-bottom: 100px;
}

.creativity__title {
  margin-bottom: 40px;
  font-size: 3.6rem;
  font-weight: 500;
  text-align: center;
}

.creativity__types {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 1.7%;
  row-gap: 4%;
}

.creativity__item {
  position: relative;
  max-width: 463px;
}

.creativity__img {
  width: 100%;
}

.creativity__description {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 28.045%;
  border-radius: 1.4em;
  font-size: 2.4rem;
  line-height: 3.4;
  text-align: center;
  background-color: #77CEFF;
  transition: .3s all;
}

.creativity__description:hover {
  background-color:#924DEB;
  color: #fff;
}

.creativity__description a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Knitting Block
================================= */


/* Studio my Hobby
================================= */
.my-hobby {
  margin-bottom: 80px;
}

.my-hobby__inner {
  display: flex;
  gap: 3.4%;
}

.my-hobby__img {
  flex-basis: 100%;
  flex-shrink: 1;
  max-width: 752px;
}

.my-hobby__img img {
  width: 100%;
}

.my-hobby__description {
  flex-shrink: 2;
}

.description__title {
  margin-bottom: 2.4%;
  font-size: 2.8rem;
  font-weight: 600;
}

.founder {
  margin-bottom: 14.8%;
  font-size: 1.6rem;
}

.description__text {
  margin-bottom: 3%;
  font-size: 1.6rem;
}

.description__text:nth-of-type(4) {
  margin-bottom: 7%;
}

.description__text:last-child {
  margin-bottom: 0;
}

/* How our classes work
================================= */
.our-classes {
  margin-bottom: 80px;
}

.our-classes__title {
  margin-bottom: 60px;
  font-size: 3.6rem;
  font-weight: 500;
}

.our-classes__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1.5vw;
}

.our-classes__photo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.5vw;
}

.our-classes__wrapper-inner {
  display: flex;
  justify-content: space-between;
  gap: 1.5vw;
}

.classes__photo-1 {  
  width: 100%;
  max-width: 672px;
}

.classes__photo-2 {  
  width: 100%;
  max-width: 672px;
}

.classes__photo-3 {  
  width: 100%;
  max-width: 348px;
}

.classes__photo-4 {  
  width: 100%;
  max-width: 370px;
}

.classes__photo-5 {  
  width: 100%;
  max-width: 745px;
}

/* Minor Request
================================= */
.minor__request {
  position: relative;
  font-size: 10px;
  width: 100%;
  height: 19.14vw;
  margin-bottom: 80px;
  border-radius: 4em;
  background: url(/images/minor-request/eclipse-1.png) no-repeat top 0 left -5% / 22%,
    #77ceff url(/images/minor-request/eclipse-2.png) no-repeat top 0 right -6% / 22%;
}

.minor__question {
  position: absolute;
  top: 29%;
  left: 15%;
  max-width: 36%;
  font-size: 4rem;
}

.minor__form {
  position: absolute;
  top: 20.3%;
  left: 54%;
  max-width: 78.8%;
  width: 78.8%;
  max-height: 14.2%;
  height: 14.2%;
}

.minor__input {
  display: block;
  width: 40.3%;
  height: 100%;
  margin-bottom: 2.8%;
  padding-left: 3.3%;
  border-radius: 2em;
  border: none;
  font-size: 2rem;
  color: #333;
}

.minor__input:focus {
  outline: none;
}

.minor__input::placeholder {
  font-size: 2rem;
  color: #D9D9D9;
}

.minor__input:last-child {
  margin-bottom: 0;
}

.minor__submit {
  position: absolute;
  right: 21%;
  bottom: 19%;
  width: 17.05%;
  max-height: 11.7%;
  height: 11.7%;
  padding-left: 1.4%;
  border-radius: 2em;
  border: none;
  font-size: 1.6rem;
  text-align: left;
  background-color: #fff;
  transition: .3s background-color, .3s color;
  cursor: pointer;
}

.minor__submit::after {
  content: '';
  position: absolute;
  top: 41%;
  right: 16%;
  width: 17%;
  height: 20%;
  background: url(../images/slider/arrow.png); 
  background-repeat: no-repeat;
  background-position: right 0;
  background-size: 100% 100%;
  transition: .3s all;
}

.minor__submit:hover {
  background-color: #924DEB;
  color: #fff; 
}

.minor__submit:hover::after {
  right: 10%;
  background: url(../images/slider/arrow-2.png);
}














/* Media queries
================================= */
@media screen and (min-width: 1921px) {
  .our-classes__wrapper {
    gap: 25px;
  }
  .our-classes__photo {
    gap: 25px;
  }
  .our-classes__wrapper-inner {
    gap: 25px;
  }
  .minor__request {
    height: 399px;
  }
}